Repository bytedance/xgplayer, pull requests merged in 2025-03, with the labels that each got.

#1727 fix: (xgplayer-mp4) 修复了当AV1视频流没有colr（颜色信息）box时出现的undefined错误，该错误会影响bl…
  packages/xgplayer-transmuxer/src/mp4/mp4-parser.js
Labels: mp4

#1733 fix: fix the issue of the undefined self variable in the getData method.
  packages/xgplayer-dash/src/dash.js
Labels: dash

#1734 fix(lang): fix typo in zh-hk
  packages/xgplayer/src/lang/zh-hk.js
Labels: player

#1735 fix: 🐛 progress bar mouseup event is not fired, due to preview
  packages/xgplayer/src/plugins/progress/index.js
  packages/xgplayer/src/plugins/progressPreview/index.js
Labels: player
